@import "images";

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 9pt;
	width:800px;
	margin: auto;
	margin-top: 20px;
    background-color: #EFEFEF;
    background-image: resolve-image("lines-top"), resolve-image("lines");
    background-repeat: repeat-x, repeat;
    background-position: top, top;
}
