@import "images";

#headerArea{
	display: flex;
	align-items:center;
	color: white;
}

#headerArea a{
	color: white;
	font-weight: bold;
	padding:5px;
	text-decoration: none;
}

#headerLogo{
	width:235px;
	height:127px;
	@include sprite("sprites", "logo");
}

#linksBar{
	height:32px;
	background:black;
	display: flex;
	align-items: center;
	flex:1;
}

#accountActions{
	margin-left: auto;
	margin-right: 5px;
}