{% extends "core.twig" %}

{% block content %}
<div id="twoColContainer">
    <div id="leftCol">{% block left_col_content %}{% endblock %}</div>
    <div id="rightCol">{% block right_col_content %}{% endblock %}</div>
</div>
{% endblock %}